html, body {
    overflow: hidden;
    user-select: none;
}


body {
    background: #333;
    height: 100vh;
    margin: 0;

    font-family: Arial, serif;
    font-size: 20px;
}

.main-container {
    max-width: 400px; /* Фиксированная ширина */
    width: 100%; /* Максимальная ширина 100% экрана */
    margin: 0 auto; /* Центрирование по горизонтали */
    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Расположение элементов в столбик */
    align-items: center; /* Центрирование элементов по горизонтали */
    justify-content: center; /* Центрирование элементов по вертикали (опционально) */
    height: 100vh; /* Занимаем всю высоту экрана */

    padding: 20px 0 100px 0; /* Внутренние отступы (опционально) */
    box-sizing: border-box; /* Учитываем padding в ширину */
}


.ball-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    top: 0;

}

.center-ball {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;


    z-index: 3;
    /*box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);*/

    transition: 0.5s ease-in-out;
    background: #dadada;
    filter: blur(0px);
}







.ball {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 38vh;
    will-change: filter;
    opacity: 1;
    transition: transform ease-in-out, filter cubic-bezier(0.7, 0, 0.3, 1);
}



.operating {
    position: relative; /* Абсолютное позиционирование */
    top: 0; /* Прилипает к верхнему краю родителя */
     /* Смещение на половину ширины для центрирования */
    width: 100%;
    height: 25%; /* Занимает всю ширину родителя */
     /* Максимальная ширина совпадает с .main-container */
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    justify-content: center; /* Центрирование содержимого по вертикали */
    gap : 10px;

    color: #dadada;

    letter-spacing: 1px;
    text-align: center;
    z-index: 3;
    font-weight: 500;
}


.score-container {
    position: relative; /* Абсолютное позиционирование */
    top: 0; /* Прилипает к верхнему краю родителя */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Смещение на половину ширины для центрирования */
    width: 100%; /* Занимает всю ширину родителя */
    max-width: 400px; /* Максимальная ширина совпадает с .main-container */
    box-sizing: border-box;
    

    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    justify-content: center; /* Центрирование содержимого по вертикали */

    color: #dadada;
    
    letter-spacing: 1px;
    text-align: center;
    z-index: 3;
    font-weight: 500;
}


.num-input{
    border: none;
    border-radius: 15px;
    background-color: #3b3b3b;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.num-btn{
    width: 100%;
    height: 100%;
    
}

.panel{
    width: 100%;
}

.btn{
    width: 100%;
    height: 100%;
}

button{
    border: none;
    border-radius: 15px;
    padding: 0;
    background-color: #dadada;
    color: #444;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

button:active{
    background-color: #c8c8c8;
    transform: translateY(0px);
}

button:hover:not(:disabled){
    background-color: #e4e4e4;
    cursor: pointer;
    transform: translateY(-1px);
}

button:disabled{
    background-color: #444;
    color : #dadada;
    cursor: default;
}