body {
    /* Единый темно-серый фон для всего экрана */
    background: #23232a;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Верхняя строка с очками */
.score-bar {
    color: #aaa;
    font-size: 17px;
    margin-bottom: 12px;
    margin-top: 20px;
    width: 100vw;
    text-align: center;
    letter-spacing: 1px;
}

/* Центральный серый шарик */
.center-ball{
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 38vh;
    transform: translate(-50%, -50%);
}

/* Размер и стили для центрального шарика */
.center-ball {
    width: 68px;
    height: 68px;
    background: #dadada;
    z-index: 3;
    transition: filter 500ms cubic-bezier(.4,0,.2,1), background 500ms cubic-bezier(.4,0,.2,1);
    filter: blur(0px);
    box-shadow: 0 0 16px #2e2e38;
}

/* Цветные шарики */
.ball {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 38vh;

    transition: all 0.7s cubic-bezier(.4,0,.2,1), opacity 380ms cubic-bezier(.4,0,.2,1);
    will-change: top, left, opacity;
}


/* Панель ввода (счетчики и поле для числа) */
.input-panel {
    margin: 250px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.input-panel button {
    /* Кнопки плюс/минус */
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 9px;
    transition: background 250ms cubic-bezier(.4,0,.2,1);
}

.input-panel span {
    /* Поле для отображения выбранного числа */
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

/* Основная большая кнопка для старта и подтверждения */
.main-btn {
    width: 90vw;
    max-width: 320px;
    background: #dadada;
    color: #23232a;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 16px auto 0 auto;
    padding: 16px 0;
    border: none;
    border-radius: 12px;
    transition: background 600ms cubic-bezier(.4,0,.2,1), color 550ms cubic-bezier(.4,0,.2,1), filter 800ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    outline: none;
    filter: blur(0px);
    letter-spacing: 1px;
}

.main-btn.disabled {
    /* Вид кнопки, когда ее нельзя нажать */
    background: #353542;
    color: #aaa;
    pointer-events: none;
}
